<!doctype html>
<html lang="en" ng-app="SAMVISE">

<head>
<meta charset="UTF-8">
<title>SAM-VISE: SAM Visual Image Spot Editor</title>

<!-- <script src="scripts/jquery-1.11.3.min.js"></script> -->
<!-- <script src="scripts/jquery-1.11.3.js"></script> -->
<!-- <script src="scripts/angular-1.4.7.min.js"></script> -->
<script src="scripts/angular-1.4.7.js"></script>
<script src="SAM-VISE.js"></script>

<link href="sam1_1.css" rel="stylesheet" type="text/css" />
<link href="SAM-VISE.css" rel="stylesheet" type="text/css" />

</head>
<body class="singlepage_body">
    <div ng-controller="SAMVISEController" class="container">
        <div class="index_logo">
            <img src="logo_accademia_top_83x83.gif" />
        </div>
        <div class="cover" >
            <div >&nbsp;</div>
            <div class="title">SAM-VISE: SAM Visual Image Spot Editor</div>
            <div>&nbsp;</div>
        </div>
        <div style="margin-top:40px; margin-bottom:20px;">
            <input type="file" style="display:none" id='inputFile' onchange="angular.element(this).scope().onFileChanged(this)" />
            <button id="triggerFile" onclick="document.getElementById('inputFile').click()">Carica Immagine</button>
            {{fileName}}
        </div>
        <div style="margin-bottom:20px;">
            <canvas id="theCanvas" style=" background-repeat:no-repeat;" width="640px" height="480px"></canvas>
        </div>
        <div>
          <table style="border:0px; width:100%">
            <tr>
              <td style="width:50%">
                <button ng-click="onCreate()">Nuovo spot</button>
                parti da: <input type="text" ng-model="spotName.template" ng-change="onSpotNameTemplateChanged()" ng-model-options="{ updateOn: 'blur' }" />
              </td>
              <td style="width:50%">
                Markdown
                  <button style="float: right;" ng-show="spots.length != 0" ng-click="onCopyClipboard()">Copia negli Appunti</button>
              </td>
            </tr>
            <tr>
              <td style="width:50%">
                <table id="spots">
                  <tr ng-repeat="spot in spots">
                      <td ng-click="onRemoveSpotClicked($index)" style="cursor:default;"><img src="CloseX-31.png" style="width:16px;height:16px;" /></td>
                      <td>{{spot.x | number : 0}}</td>
                      <td>{{spot.y | number : 0}}</td>
                      <td>{{spot.height | number : 0}}</td>
                      <td>{{spot.width | number : 0}}</td>
                      <td><input type="text" ng-model="spot.name" /></td>
                  </tr>
                </table>
              </td>
              <td style="width:50%">
                <textarea style="width:100%;height:80px;resize:none" type="text" ng-show="spots.length == 0" ng-model="markdown" ng-change="onMarkdownChanged()"></textarea>
                  <div id="resultMarkdown" ng-show="spots.length != 0" >
                    <pre style="width:100%" ng-repeat="spot in spots">[IMGSPOT {{spot.x  | number : 0}}x{{spot.y | number : 0}}-{{spot.height| number : 0}}x{{spot.width| number : 0}} "{{spot.name}}"]</pre>
                  </div>
              </td>
            </tr>
          </table>
        </div>
    </div>
</body>
</html>
