@media screen{
  .cover {
    margin-bottom:40px;
  }
  .singlepage_body {
    max-width: 1000px;
  }
}

.title {
    font-size: 150%;
}

button {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: large;
    background-color: white;
    /*padding:5px 3px 5px 3px;*/
}

table {
  border-collapse: collapse;
}

table#spots td {
  border: solid 1px black;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}
